.Popover {
}

.Content {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background: #fff;
  box-shadow: var(--border-color) 0px 0px 0px 0.5px,
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  animation-name: slideUpAndFade;
}

/* Need to do some custom trickery to get the arrow to work properly with the stroke. Probably best to leave it for now. */
.Arrow {
  fill: white;
  stroke: var(--border-color);
  stroke-width: 1;
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(1px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
