.Navbar {
  height: 55px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--oc-gray-2);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer h1 {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-left: 4px;
}

.logoImg {
  font-size: 24px;
}
